* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.gallery_item {
    border: 1px solid lightgrey; 
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .gallery { 
        display: grid;
        grid-template-columns: 1rf;
        gap: 20px; 
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .gallery { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .gallery { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}
